@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,900');

@font-face {
    font-family: 'avenirnext';
    src: url('Avenir Next.ttc');
}
@font-face {
    font-family: 'avenirreg';
    src: url('Avenir.ttc');
}

.headerBar {
    background-color: #ffaf3f;
    font-family: 'avenirnext', sans-serif;

    max-width: 1920px;
    height: 100px;
    text-align: right;

    letter-spacing: 3px;

    padding-right: 12%; /*1820+100 = 1920*/
    padding-top: 50px;   /*160+100 = 260*/

}

.outrageous{
  width: 1920px;
  height: 260px;
  background-color: #f7f7f7;
  padding-top: 100px;

  text-align: center;
  font-family: 'avenirnext';
  font-size: 128px;
  text-align: center;
  color: #0b0a0c;
}

buttonTop {
    padding: 20px;
    font-family: 'avenirreg';
    color: #f7f7f7;
    font-size: 28px;
    font-weight: 100;
    text-align: center;
}
buttonTop:hover{
    transition: 0.35s;
    color: #0B0A0C;

}


secbody {
  width: 1920px;
  max-width: 1920px;
  display:inline-block;
  font-family: 'Inconsolata';
  font-size: 28px;
  background: linear-gradient(#334740,#547569);/*#334740 ;*/
  color: #f7f7f7;
  text-indent: 0px;
}


h1,h2{
  font-family: 'avenirnext';
  padding-left: 15%;
}

h1 {
  letter-spacing: 2px;
}
h2 {
  padding-left: 16%;
}
p {
  padding-left: 17%;
  width: 700px;
}
