@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,900');

@font-face {
    font-family: 'avenirnext';
    src: url('Avenir Next.ttc');
}
@font-face {
    font-family: 'avenirreg';
    src: url('Avenir.ttc');
}

.headerBar {
    /* background-color: #ffaf3f; */
    /*background-color: #FFC34C;*/
    background-color: #333333;
    font-family: 'Avenir Next', 'avenirnext', sans-serif;
    vertical-align: middle;
    line-height: 128px;
    width:95%;


    height: 128px;
    text-align: right;


    letter-spacing: 1.5px;
    padding-right: 5%;
    max-width: 1600px;


}

.headerBar.smaller {
  line-height: 64px;
  height: 64px;
}

.outrageous{
  width: 100%;
  max-width: 1600px;

  height: 500px;
  /*vertical-align: middle;
  line-height: 400px;*/
  padding-top: 200px;
  background-color: #f7f7f7;
  color: #333333;
  /*background: linear-gradient(to top, #f7f7f7 , #ffffff);*/


  text-align: center;
  font-family: 'avenirnext';
  font-size: 70px;
  text-align: center;

  /*background-image: url(https://cdn.dribbble.com/users/41854/screenshots/1818857/transmission_d.gif);*/

  background-position: center center;
  background-repeat:   no-repeat;

}

a {
    position:relative;
    text-decoration: none;
    padding: 1.5%;
    font-family: 'Rubik','avenirreg';
    color: #f7f7f7;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    transition: 0.45s;
}

.buttonTop:hover{
    transition: 0.35s;
    color: #FF6660;
    cursor: pointer;

}


secbody {
  width: 100%;
  max-width: 1600px;
  display:inline-block;
  font-family: 'avenirreg';
  font-size: 19px;
  /* background: #5E9E86;*/
  background: #f7f7f7;
  /*background: linear-gradient(#334740,#547569);#334740 ;*/
  /* color: #f7f7f7; */
  color: #333333;
  text-indent: 0px;
}

secbodyRes {
  width: 100%;
  max-width: 1600px;
  display:inline-block;
  font-family: 'avenirreg';
  font-size: 18px;
  background: #f7f7f7;
  color: #333333;
  text-indent: 0px;
}

h1 {
  font-family: 'Avenir Next';
  padding-left: 14%;
  letter-spacing: 1.5px;
}
h2,h3,h4{
  font-family: 'Avenir', 'avenirnext';
  padding-left: 14.5%;
}

h4 {
  padding-left: 15%;
}
p {
  padding-left: 15%;
  width: 800px;
}

