@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,900');

@font-face {
    font-family: 'avenirnext';
    src: url('Avenir Next.ttc');
}
@font-face {
    font-family: 'avenirreg';
    src: url('Avenir.ttc');
}

.headerBar {
    /* background-color: #ffaf3f; */
    /*background-color: #FFC34C;*/
    background-color: #333333;
    font-family: 'avenirnext', sans-serif;
    vertical-align: middle;
    line-height: 128px;
    width:95%;


    height: 128px;
    text-align: right;


    letter-spacing: 1.5px;
    padding-right: 5%;
    max-width: 1600px;


}

.headerBar.smaller {
  line-height: 64px;
  height: 64px;
}

.outrageous{
  width: 100%;
  max-width: 1600px;

  height: 500px;
  /*vertical-align: middle;
  line-height: 400px;*/
  padding-top: 200px;
  background-color: #f7f7f7;
  color: #333333;
  /*background: linear-gradient(to top, #f7f7f7 , #ffffff);*/


  text-align: center;
  font-family: 'avenirnext';
  font-size: 70px;
  text-align: center;

  /*background-image: url(https://cdn.dribbble.com/users/41854/screenshots/1818857/transmission_d.gif);*/

  background-position: center center;
  background-repeat:   no-repeat;

}

buttonTop {
    position:relative;

    padding: 1.5%;
    font-family: 'Rubik','avenirreg';
    color: #f7f7f7;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

buttonTop:hover{
    transition: 0.35s;
    color: #FF6660;
    cursor: pointer;

}


secbody {
  width: 100%;
  max-width: 1600px;
  display:inline-block;
  font-family: 'Inconsolata';
  font-size: 25px;
  background: #5E9E86;
  /*background: linear-gradient(#334740,#547569);#334740 ;*/
  color: #f7f7f7;
  text-indent: 0px;
}


h1,h2{
  font-family: 'avenirnext';
  padding-left: 14%;
}

h1 {
  letter-spacing: 2px;
}
h2 {
  padding-left: 14.5%;
}
p {
  padding-left: 15%;
  width: 700px;
}
