@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,900');

@font-face {
    font-family: 'avenirnext';
    src: url('Avenir Next.ttc');
}
@font-face {
    font-family: 'avenirreg';
    src: url('Avenir.ttc');
}

.headerBar {
    background-color: #ffaf3f;
    font-family: 'avenirnext', sans-serif;
    vertical-align: middle;
    line-height: 110px;
    width:95%;
    max-width: 1600px;

    height: 110px;
    text-align: right;


    letter-spacing: 1px;
    padding-right: 5%;


}

.outrageous{
  width: 100%;
  max-width: 1600px;

  height: 300px;
  /*vertical-align: middle;
  line-height: 400px;*/
  padding-top: 100px;
  background-color: #f7f7f7;
  /*background: linear-gradient(to top, #f7f7f7 , #ffffff);*/


  text-align: center;
  font-family: 'avenirnext';
  font-size: 70px;
  text-align: center;
  color: #222222;
}

buttonTop {
    position:relative;

    padding: 20px;
    font-family: 'avenirreg';
    color: #f7f7f7;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
}

buttonTop:hover{
    transition: 0.35s;
    color: #0B0A0C;

}


secbody {
  width: 100%;
  max-width: 1600px;
  display:inline-block;
  font-family: 'Inconsolata';
  font-size: 22px;
  background: linear-gradient(#334740,#547569);/*#334740 ;*/
  color: #f7f7f7;
  text-indent: 0px;
}


h1,h2{
  font-family: 'avenirnext';
  padding-left: 14%;
}

h1 {
  letter-spacing: 2px;
}
h2 {
  padding-left: 14.5%;
}
p {
  padding-left: 15%;
  width: 500px;
}
